langchain_community
langchain
langchain_google_genai
langchain_core
tiktoken
langchainhub
faiss-cpu
youtube-transcript-api
langchain-text-splitters
tf-keras
langchain
langchain_huggingface

sentence-transformers
